
.App{
  width: 100%;
  display: grid;
  grid-template: 2em/1fr 1fr 1fr;
  position: fixed;
  
  
}

body{
  margin: 0;
}


button:focus {
  background-color: black;
  color:white;
}

.list-div{
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr;
  text-align: center;
}
.list-div1{
  width: 100%;
  display: grid;
  grid-template-columns: 2.5% 10.5% 10.5% 20.5% 20.5% 12.5% 10.5% 12.5%;
  text-align: center;
  font-size: small;
}



.list-div>div{
  border:solid 2px black;
  height: 3em;
}

.list-div1>div{
  border:solid 2px black;
  height: 6em;
}

.userData{
  margin-top: -3px;
}


